<div class="page-title">
  <h1>{{ title }}</h1>
  <span class="breadcrumb">Home / Contacts</span>
</div>

<div class="mat-elevation-z8">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="app-table"
           matSort matSortActive="registrationDate" matSortDisableClear matSortDirection="desc"
    >
      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{ row?.name }}</td>
      </ng-container>

      <!-- URN Column -->
      <ng-container matColumnDef="urn">
        <th mat-header-cell *matHeaderCellDef>URN</th>
        <td mat-cell *matCellDef="let row">{{ row?.urn }}</td>
      </ng-container>

      <!-- Facility Code Column -->
      <ng-container matColumnDef="facilityCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Facility Code
        </th>
        <td mat-cell *matCellDef="let row">{{ row?.facilityCode | uppercase}}</td>
      </ng-container>

      <!-- Facility Name Column -->
      <ng-container matColumnDef="facilityName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Facility Name
        </th>
        <td mat-cell *matCellDef="let row">{{ row?.organisationUnit.name | uppercase}}</td>
      </ng-container>

      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Sex
        </th>
        <td mat-cell *matCellDef="let row">{{ row?.sex | uppercase}}</td>
      </ng-container>

      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Created On (RapidPro)
        </th>
        <td mat-cell *matCellDef="let row">{{ row?.createdOn | date: 'dd/MM/yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="registrationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Date of registration
        </th>
        <td mat-cell *matCellDef="let row">{{ row?.registrationDate | date }}</td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Age
        </th>
        <td mat-cell *matCellDef="let row">{{ row?.age }}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>Action</th>
        <td *matCellDef="let row" mat-cell>
          <button mat-button matTooltip="Edit" matTooltipPosition="left" (click)="openDialog(row)">
            <mat-icon (click)="openDialog(row)">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions"
                 aria-label="Select page of GitHub search results"></mat-paginator>
</div>
