<div fxFlexLayoutAlign="row" fxLayoutAlign="space-between center">
  <div>
    <h3>Manage Programs</h3>
  </div>
  <div fxLayoutGap="5px">
    <button (click)="syncPrograms()" class="mat-primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      SYNC
    </button>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="space-between stretch">
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" autocomplete="off" matInput>
  </mat-form-field>
  <div>

    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
        <!-- SNo Column -->
        <ng-container matColumnDef="sno">
          <th *matHeaderCellDef mat-header-cell> No</th>
          <td *matCellDef="let programs; let i = index" mat-cell>{{ i + 1 }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell> Name</th>
          <td *matCellDef="let programs" mat-cell> {{ programs.displayName | uppercase}}</td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="code">
          <th *matHeaderCellDef mat-header-cell> Code</th>
          <td *matCellDef="let programs" mat-cell> {{ programs.code }}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="dhis2uid">
          <th *matHeaderCellDef mat-header-cell> DHIS2 UUID</th>
          <td *matCellDef="let programs" mat-cell> {{ programs.dhisUid }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell>Action</th>
          <td *matCellDef="let programs" mat-cell>
            <button mat-icon-button matTooltip="Map Data Element" matTooltipPosition="left">
              <mat-icon (click)="openMappingDialog(programs.id)">sync_alt</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

        <!-- Row shown when there is no matching data. -->
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="3">No data matching the filter "{{ input.value }}"</td>
        </tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
      ></mat-paginator>
    </div>

    <!--<pre>{{programs | json}}</pre>-->
