<div fxLayout="row" fxLayoutAlign="space-between center">
  <div class="page-title">
    <h1>{{ title }}</h1>
    <span class="breadcrumb">Home / Programs</span>
  </div>
  <div fxLayout="row" fxLayoutGap="5px">
    <button (click)="syncPrograms()" class="mat-primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      SYNC
    </button>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="space-between stretch">
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" autocomplete="off" matInput>
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
      <!-- SNo Column -->
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let programs; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let programs">{{ programs.displayName | uppercase }}</td>
      </ng-container>

      <!-- Code Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let programs">{{ programs.code | uppercase }}</td>
      </ng-container>

      <!-- DHIS2 UUID Column -->
      <ng-container matColumnDef="dhis2uid">
        <th mat-header-cell *matHeaderCellDef>DHIS2 UUID</th>
        <td mat-cell *matCellDef="let programs">{{ programs.dhisUid }}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let program">
          <button mat-icon-button matTooltip="Map Data Element" matTooltipPosition="left"
                  (click)="openDataElementProgramMappingDialog(program.uuid)">
            <mat-icon>sync_alt</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No data matching the filter "{{ input.value }}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
