<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/smz_logo.png" alt="">
      <h2 fxLayout="column" fxLayoutAlign="center center" style="font-size: 1em;">ZanAfyaMaoni Interoperability Middleware</h2>
    </div>
    <mat-card-content>
      <form (ngSubmit)="loginProcess()" [formGroup]="loginFormGroup" fxLayout="column" fxLayoutAlign="stretch">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <mat-icon matSuffix>perm_identity</mat-icon>
          <input autocomplete="off" formControlName="email" matInput placeholder="Email">
          <div class="validation-error" *ngIf="loginFormGroup.controls['email'].invalid && (loginFormGroup.controls['email'].dirty || loginFormGroup.controls['email'].touched)">
            <div *ngIf="loginFormGroup.controls['email'].errors">
              Email is required
            </div>
          </div>
        </mat-form-field>
        <mat-form-field appearance="fill" class="">
          <mat-label>Password</mat-label>
          <mat-icon matSuffix>vpn_key</mat-icon>
          <input autocomplete="off" formControlName="password" matInput placeholder="Password" type="password">
          <div class="validation-error" *ngIf="loginFormGroup.controls['password'].invalid && (loginFormGroup.controls['password'].dirty || loginFormGroup.controls['password'].touched)">
            <div *ngIf="loginFormGroup.controls['password'].errors">
              Password is required
            </div>
          </div>
        </mat-form-field>
        <button color="primary" mat-raised-button type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
