<div class="page-title">
  <h1>Dashboard</h1>
  <span class="breadcrumb">Home / Dashboard</span>
</div>
<div
  class="flex flex-row justify-between bg-white rounded-md border border-gray-300 mt-4"
>
  <app-stats *ngFor="let stat of stats" [stat]="stat"></app-stats>
</div>

<div
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
  fxLayoutGap="5"
  class="dashboard-cards"
>
  <h2 class="dashboard-title">Registrations by Councils</h2>
  <div fxFlex="100" style="margin: 10px">
    <mat-card>
      <app-barchart></app-barchart>
    </mat-card>
  </div>
</div>
