<mat-sidenav-container>
  <mat-sidenav #sidebar mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar>
          <div class="toolbar-left">
            <button mat-icon-button (click)="sidebar.toggle()" class="menu-toggle" aria-label="Toggle menu">
              <mat-icon>menu</mat-icon>
            </button>
          </div>

          <div class="toolbar-right">
            <button mat-icon-button
                    class="toolbar-btn"
                    matTooltip="Help & Support"
                    matTooltipPosition="below"
                    (click)="openHelp()">
              <mat-icon>help_outline</mat-icon>
            </button>

            <button mat-icon-button
                    class="toolbar-btn"
                    [matMenuTriggerFor]="userMenu"
                    matTooltip="Account"
                    matTooltipPosition="below">
              <div class="user-avatar-small">
                <mat-icon>person</mat-icon>
              </div>
            </button>

            <mat-menu #userMenu="matMenu" class="user-menu">
              <div class="menu-header">
                <div class="menu-user-info">
                  <div class="menu-avatar">
                    <mat-icon>account_circle</mat-icon>
                  </div>
                  <div class="menu-user-details">
                    <span class="menu-user-name">{{ userName }}</span>
                    <span class="menu-user-email">{{ userEmail }}</span>
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>
              <button mat-menu-item class="menu-item" (click)="openProfile()">
                <mat-icon>person_outline</mat-icon>
                <span>My Profile</span>
              </button>
              <button mat-menu-item class="menu-item" (click)="openChangePassword()">
                <mat-icon>lock</mat-icon>
                <span>Change Password</span>
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item class="menu-item logout-item" (click)="signOut()">
                <mat-icon>logout</mat-icon>
                <span>Sign Out</span>
              </button>
            </mat-menu>
          </div>
        </mat-toolbar>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-change-password
  [open]="changePasswordDialogOpen"
  (onClose)="handlePasswordDialogClose($event)">
</app-change-password>
