/* layout.component.css */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
}

.main-content {
  flex-grow: 1;
}

.mat-toolbar {
  z-index: 2; /* Ensures toolbar is above the sidebar */
}

.mat-nav-list {
  padding: 16px;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  padding: 16px;
  flex-grow: 1;
}
