<h2 mat-dialog-title>
  <!--  {{ authorityService.form.controls['uuid'].value ? "Edit Role Permissions" : "Create Role Permissions" }}-->
</h2>

<form #formDirective="ngForm"
      (ngSubmit)="submitForm()"
      [formGroup]="authorityService.form">
  <mat-dialog-content>

    <div fxLayout="row wrap" fxLayoutGap="5">
      <ng-container *ngFor="let resource of roleAuthorities" formArrayName="authorities">
        <div fxFlex="25">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ resource.resource }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ng-container *ngFor="let permission of resource.authorities | keyvalue; let i = index">
                <mat-checkbox [formControlName]="i">{{ permission.value }}</mat-checkbox>
                <br/>
              </ng-container>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </mat-dialog-content>
</form>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Assign Permissions</button>
</mat-dialog-actions>

<pre>Form Value: {{ authorityService.form.controls['authorities'].value }}</pre>
