/*.organisation-unit-container {*/
/*  padding: 20px;*/
/*}*/

/*mat-tree {*/
/*  background: #fff;*/
/*  padding: 10px;*/
/*  border-radius: 4px;*/
/*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*}*/

/*mat-tree-node {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*mat-tree-node button {*/
/*  margin-right: 10px;*/
/*}*/


/*.organisation-unit-container {*/
/*  padding: 20px;*/
/*}*/

/*mat-tree {*/
/*  background: #fff;*/
/*  padding: 10px;*/
/*  border-radius: 4px;*/
/*  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*}*/

/*mat-tree-node {*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*mat-tree-node button {*/
/*  margin-right: 10px;*/
/*}*/

.mat-tree {
  padding-left: 40px;
  align-content: center;
}

.ou-tree-invisible {
  display: none;
}

.ou-tree ul,
.ou-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  font-size: x-small;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.ou-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.ou-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

.nested-node {
  padding-left: 40px;
}

.report-tree-invisible {
  display: none;
}

.report-tree {
  padding-left: 40px;
}

.ou-tree-invisible {
/ / display: none;
}

.ou-tree {
  width: 100%;
}
