<div fxFlexLayoutAlign="row" fxLayoutAlign="space-between center">
  <div>
    <h3>Manage Organisation Units</h3>
  </div>
  <div fxLayoutGap="5px">
    <button
      (click)="openDialog()"
      *ngIf="isSuperAdministrator"
      class="mat-primary"
      mat-raised-button
    >
      ADD
    </button>
    <button
      (click)="openDialog(selectedNode)"
      *ngIf="selectedNode && isSuperAdministrator"
      class="mat-primary"
      mat-raised-button
    >
      EDIT
    </button>
    <button
      (click)="openDeleteDialog(selectedNode.id)"
      *ngIf="selectedNode && isSuperAdministrator"
      class="mat-warn"
      mat-raised-button
    >
      DELETE
    </button>
  </div>
</div>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input #input (keyup)="applyFilter($event)" autocomplete="off" matInput/>
</mat-form-field>

<div class="mat-elevation-z8">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="ou-tree">
    <!-- Leaf node -->
    <mat-tree-node
      (click)="onNodeClick(node)"
      *matTreeNodeDef="let node"
      [class.selected]="node === selectedNode"
    >
      {{ node.name }} ({{ node.code }}) - {{ node.otherNames || 'N/A' }}
    </mat-tree-node>

    <!-- Expandable node -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
      <div class="mat-tree-node">
        <button
          (click)="onNodeExpand(node)"
          [attr.aria-label]="'Toggle ' + node.name"
          mat-icon-button
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        <span (click)="onNodeClick(node)" [class.selected]="node === selectedNode">
          {{ node.name }} ({{ node.code }}) - {{ node.otherNames || 'N/A' }}
        </span>
      </div>
      <div
        *ngIf="treeControl.isExpanded(node)"
        [class.ou-tree-invisible]="!treeControl.isExpanded(node)"
        data-debug="children-container"
        role="group"
      >
        <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
  </mat-tree>
</div>


<!-- Delete organisation unit dialog template -->
<ng-template #deleteDialog>
  <mat-dialog-content>
    <h3>Are you sure you want to delete this organisation unit?</h3>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>NO</button>
    <button (click)="delete()" mat-button>YES</button>
  </mat-dialog-actions>
</ng-template>

<!--<pre>{{ dataSource.data | json }}</pre>-->
