<div class="page-title">
  <h1>Dashboard</h1>
  <span class="breadcrumb">Home / Dashboard</span>
</div>

<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="5" class="dashboard-cards">
  <mat-card fxFlex="25" class="card-one">
    <mat-card-title>Total # of registered clients</mat-card-title>
    <mat-card-content>
      5,493
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="25" class="card-two">
    <mat-card-title>Total # of registered clients today</mat-card-title>
    <mat-card-content>
      5,493
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="25" class="card-three">
    <mat-card-title>Total # of registered clients this month</mat-card-title>
    <mat-card-content>
      5,493
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="25" class="card-four">
    <mat-card-title>Total # of registered clients this year</mat-card-title>
    <mat-card-content>
      5,493
    </mat-card-content>
  </mat-card>
</div>

<mat-grid-list cols="1" rowHeight="4:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>


