.page-title {
  margin: 10px;
}

.mat-card-title {
  margin: 10px;
}

.dashboard-cards {
  margin: 5px;
}

.card-one {
  background-color: #ea1964;
}

.card-two {
  background-color: #28d7d1;
}

.card-three {
  background-color: #aaff00;
}

.card-four {
  background-color: #e7c51d;
}

mat-card-content {
  text-align: center;
  padding-top: 10px;
  font-size: large;
}
